body {
	background-color: #cccccc;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal
	{
	border: 1px solid;
	margin: 0px 5px;
	padding: 2px 5px;
}

.ui-messages-error, .ui-message-error {
	color: #D8FF0C;
	background-color: #00BABA;
}

#train {
	background-image: url('train2.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	width: auto;
	height: 120px;
	padding: 20px;
}