<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

	<ui:define name="turinys">
		<h:form>

			<p:growl id="growl" showDetail="true" sticky="false" />

			<p:panelGrid columns="2">
				<h:outputText value="Train ID:" />
				<h:outputText value="#{trainListPageData.currentTrain.id}" />

				<h:outputText value="Serial number:" />
				<h:outputText value="#{trainListPageData.currentTrain.number}" />

				<h:outputText value="Maker:" />
				<h:outputText value="#{trainListPageData.currentTrain.maker}" />

				<h:outputText value="Make date:" />
				<h:outputText value="#{trainListPageData.currentTrain.makeDate}" />
			</p:panelGrid>
		</h:form>
		<h:form>
			<p:panel id="basic" header="Enter train details">
				<h:panelGrid id="grid1" columns="3" cellpadding="5">
					<h:outputLabel for="train_number" value="Train number"></h:outputLabel>
					<p:inputText id="train_number"
						value="#{trainListPageData.currentTrain.number}">
						<f:validateBean />
					</p:inputText>
					<p:growl for="train_number" display="icon" />

					<h:outputLabel for="train_maker" value="Train maker"></h:outputLabel>
					<p:inputText id="train_maker"
						value="#{trainListPageData.currentTrain.maker}"></p:inputText>
					<p:growl for="train_maker" display="icon" />

					<h:outputLabel for="train_makedate" value="Make date"></h:outputLabel>
					<p:calendar id="train_makedate"
						value="#{trainListPageData.currentTrain.makeDate}"
						pattern="yyyy-MM-dd"></p:calendar>
					<p:growl for="train_makedate" display="icon" />

					<h:outputLabel for="train_makecity" value="Make City"></h:outputLabel>
					<p:inputText id="train_makecity"
						value="#{trainListPageData.currentTrain.makeCity}"></p:inputText>
					<p:growl for="train_makecity" display="icon" />
				</h:panelGrid>

			</p:panel>

			<h:commandButton actionListener="#{trainListPage.save()}"
				action="trains" value="Save train details">
			</h:commandButton>
			<h:commandButton actionListener="#{trainListPage.cancel()}"
				action="trains" value="Cancel">
			</h:commandButton>
		</h:form>

	</ui:define>

	<ui:define name="pavadinimas">
 	 	Add or update train
 	 </ui:define>

</ui:composition>