<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

	<ui:define name="turinys">
		<h:form>

			<p:growl id="growl" showDetail="true" sticky="false" />

			<p:panelGrid columns="2">
				<h:outputText value="Current train ID:" />
				<h:outputText value="#{trainListPageData.currentTrain.id}" />

				<h:outputText value="Serial number:" />
				<h:outputText value="#{trainListPageData.currentTrain.number}" />

				<h:outputText value="Maker:" />
				<h:outputText value="#{trainListPageData.currentTrain.maker}" />

				<h:outputText value="Make date:" />
				<h:outputText value="#{trainListPageData.currentTrain.makeDate}" />
			</p:panelGrid>
		</h:form>
		<h:form>
			<p:dataTable id="vehicleTable"
				value="#{trainListPage.getFreshVehicleList()}" var="vehicle">
				<p:column headerText="Id">
					<h:outputText value="#{vehicle.id}" />
				</p:column>

				<p:column headerText="Name">
					<h:outputText value="#{vehicle.name}" />
				</p:column>

				<p:column headerText="">
					<p:commandButton value="Delete" update="@form" immediate="true"
						actionListener="#{vehicleListPage.delete(vehicle)}">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>
					<p:commandButton value="Update"
						action="#{vehicleListPage.update(vehicle)}" />
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>


			<p:panel id="basicVehicle" header="New vehicle">
				<h:panelGrid id="grid2" columns="3" cellpadding="5">
					<h:outputLabel for="vehicle_name" value="Vehicle name"></h:outputLabel>
					<h:inputText id="vehicle_name"
						value="#{vehicleListPageData.currentVehicle.name}">
						<f:validateBean />
					</h:inputText>
					<p:growl for="vehicle_name" display="icon" />
				</h:panelGrid>
			</p:panel>

			<p:commandButton action="addOrRemoveVehicles"
				actionListener="#{vehicleListPage.save()}"
				update="@form" value="Add new vehicle">
			</p:commandButton>
			<p:commandButton actionListener="#{vehicleListPage.cancel()}"
				action="trains" value="Cancel">
			</p:commandButton>
		</h:form>
	</ui:define>

	<ui:define name="pavadinimas">
 	 	Add or remove vehicles on selected train
 	 </ui:define>

</ui:composition>