<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Train management: <ui:insert name="pavadinimas">
  		No title
  	</ui:insert>
	</title>
	<h:outputStylesheet name="style.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<h:form>
			<p:tabMenu activeIndex="#{param.i}">
				<p:menuitem value="Train list" outcome="list-trains"
					icon="ui-icon-search">
					<f:param name="i" value="0" />
				</p:menuitem>
				<p:menuitem value="Add or edit train" outcome="update-train"
					icon="ui-icon-wrench">
					<f:param name="i" value="1" />
				</p:menuitem>
			</p:tabMenu>
		</h:form>
		<div id="contents">
			<ui:insert name="turinys">
		  		No content
		  	</ui:insert>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</html>
