<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

	<ui:define name="turinys">
		<h:form>

			<p:growl id="growl" showDetail="true" sticky="false" />

			<p:dataTable value="#{trainListPage.trainList}" var="train">
				<p:column headerText="Id">
					<h:outputText value="#{train.id}" />
				</p:column>

				<p:column headerText="Serial">
					<h:outputText value="#{train.number}" />
				</p:column>

				<p:column headerText="Maker">
					<h:outputText value="#{train.maker}" />
				</p:column>

				<p:column headerText="Make date">
					<h:outputText value="#{train.makeDate}" />
				</p:column>

				<p:column headerText="Make city">
					<h:outputText value="#{train.makeCity}" />
				</p:column>

				<p:column headerText="Select a train:">
					<p:commandButton value="Manage vehicles"
						action="addOrRemoveVehicles"
						actionListener="#{vehicleListPage.addNewVehicle(train)}">
					</p:commandButton>
					<p:commandButton value="Edit info"
						action="#{trainListPage.update(train)}">
					</p:commandButton>
					<p:commandButton value="Delete train"
						action="#{trainListPage.delete(train)}">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>
			<p:commandButton action="addOrUpdateTrain"
				actionListener="#{trainListPage.create()}" update="@form"
				value="Create new train" />

		</h:form>

		<f:facet name="header">
			<p:graphicImage name="train.png" />
		</f:facet>
	</ui:define>

	<ui:define name="pavadinimas">
 	 	All trains
 	 </ui:define>

</ui:composition>